@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
/* .item {
  -webkit-mask-repeat: no-repeat;
  height: 416px;
  width: 564px;
}
.one {
  -webkit-mask-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjY0IiBoZWlnaHQ9IjIxNiIgdmlld0JveD0iMCAwIDI2NCAyMTYiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxyZWN0IHdpZHRoPSIyNjQiIGhlaWdodD0iMjE2IiByeD0iMjAiIGZpbGw9IiNEOUQ5RDkiLz4KPC9zdmc+Cg==);
}
.transform-translate-x-150 {
  transform: translateX(150px);
}

.transform-translate-y-100 {
  transform: translateY(100px);
} */
.blur-image {
  filter: none;
}
.blur-image.loading {
  filter: blur(5px);
}
.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 5px;
  background: #a855f7;
  transform-origin: 0%;
  z-index: 99999;
}
.remove {
  color: black;
  -webkit-text-fill-color: #e5bef0; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: white;
}
/* #progress {
  transform: rotate(-90deg);
}
circle {
  stroke-dashoffset: 0;
  stroke-width: 15%;
  fill: none;
}
.bg {
  stroke: #a855f7;
  opacity: 0.3;
}
#progress .indicator {
  stroke: #a855f7;
} */
/* ul {
  display: flex;
  list-style: none;
  height: 300px;
  overflow-x: scroll;
  padding: 20px 0;
  flex: 0 0 600px;
  margin: 0 auto;
} */

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  background: #fff3;
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-thumb {
  background: #a855f7;
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
  background: #fff3;
}

/* li {
  flex: 0 0 200px;
  background: #a855f7;
  margin: 0 20px 0 0;
}

li:last-of-type {
  margin: 0;
} */
.new {
  border-top: 1px solid black;
}
/* .video {
  width: 100%;
  height: 100%;
  background-color: #333;
}

.controls {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.8);
}

.play-pause-button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid white;
  margin: 0 10px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.play-pause-button.paused {
  transform: rotate(45deg);
}

.play-pause-button.playing {
  transform: rotate(135deg);
}

.mute-button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid white;
  margin: 0 10px;
  cursor: pointer;
}

.mute-button.muted:before {
  content: "🔇";
  font-size: 20px;
}

.mute-button.unmuted:before {
  content: "🔊";
  font-size: 20px;
}

.fullscreen-button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid white;
  margin: 0 10px;
  cursor: pointer;
}

.fullscreen-button:before {
  content: "🔍";
  font-size: 20px;
}
.video-controls__play-pause-button {
  background-image: url("/icons8-play-button-24.png");
}

.video-controls__play-pause-button.paused {
  background-image: url("/icons8-pause-button-30.png");
} */
.fade-in {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.fade-in.fade-in-active {
  opacity: 1;
}
.text-wrapper {
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
}
.text-wrapper h1 {
  white-space: nowrap;
  padding: 0 13rem;
  letter-spacing: 1px;
  animation: move-rtl 5000ms linear infinite;
}
@keyframes move-rtl {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.stroke {
  color: black;
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}
/* .gallery {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-width: 100%;
  -moz-column-width: 100%;
  column-width: 100%;
} */
.gallery .pics {
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
  cursor: pointer;
}
.gallery .pics:hover {
  filter: opacity(0.8);
}
@media (max-width: 991px) {
  .gallery {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}
/* @media (max-width: 480px) {
  .gallery {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-width: 100%;
    -moz-column-width: 100%;
    column-width: 100%;
  }
} */
.model {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  transition: opacity 0.4s ease, transform 0.4s ease-in-out;
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
  overflow: hidden;
  z-index: 9999;
}
.model.open {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}
.model .Image {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 20px 0 20px;
  margin: 0 auto;
}
.model.model.open svg {
  position: fixed;
  top: 50px;
  right: 50px;
  width: 4rem;
  height: 4rem;
  padding: 5px;
  background-color: black;
  color: white;
  cursor: pointer;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.dropdown-menu {
  position: absolute;
  /* top: 100px;
  left: 34%; */
  margin-left: -100px;
  margin-top: 30px;
  background-color: white;
  color: #a727cc;
  border-radius: 5px;
  padding: 10px 20px;
  width: 300px;
  z-index: 99;

  border: 1px solid #a855f7;
}
.dropdown-menu::before {
  content: "";
  position: absolute;
  top: -11px;
  right: 140px;
  height: 20px;
  width: 20px;
  background: white;
  transform: rotate(45deg);
  border-left: 1px solid #a855f7;
  border-top: 1px solid #a855f7;
}
.dropdown-menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: 0.2s ease-in;
}
.dropdown-menu.inactive {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: 0.2s ease-out;
}

.dropdown-menu-mobile {
  position: absolute;
  /* top: 100px;
  left: 34%; */
  margin-left: -70px;
  margin-top: -350px;
  background-color: white;
  color: #a727cc;
  border-radius: 5px;
  padding: 10px 20px;
  width: 250px;
  z-index: 99;

  border: 1px solid #a855f7;
}
.dropdown-menu-mobile::before {
  content: "";
  position: absolute;
  top: 265px;
  right: 145px;
  height: 20px;
  width: 20px;
  background: white;
  transform: rotate(225deg);
  border-left: 1px solid #a855f7;
  border-top: 1px solid #a855f7;
}
.dropdown-menu-mobile.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: 0.2s ease-in;
}
.dropdown-menu-mobile.inactive {
  opacity: 0;
  visibility: hidden;
  transform: translateY(20px);
  transition: 0.2s ease-out;
}

/* resources */
.dropdown-menu1 {
  position: absolute;
  /* top: 100px;
  left: 34%; */
  margin-left: -100px;
  margin-top: 30px;
  background-color: white;
  color: #a727cc;
  border-radius: 5px;
  padding: 10px 20px;
  width: 300px;
  z-index: 99;

  border: 1px solid #a855f7;
}
.dropdown-menu1::before {
  content: "";
  position: absolute;
  top: -11px;
  right: 140px;
  height: 20px;
  width: 20px;
  background: white;
  transform: rotate(45deg);
  border-left: 1px solid #a855f7;
  border-top: 1px solid #a855f7;
}
.dropdown-menu1.active1 {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: 0.2s ease-in;
}
.dropdown-menu1.inactive1 {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: 0.2s ease-out;
}

.dropdown-menu-mobile1 {
  position: absolute;
  /* top: 100px;
  left: 34%; */
  margin-left: -70px;
  margin-top: -350px;
  background-color: white;
  color: #a727cc;
  border-radius: 5px;
  padding: 10px 20px;
  width: 250px;
  z-index: 99;

  border: 1px solid #a855f7;
}
.dropdown-menu-mobile1::before {
  content: "";
  position: absolute;
  top: 265px;
  right: 145px;
  height: 20px;
  width: 20px;
  background: white;
  transform: rotate(225deg);
  border-left: 1px solid #a855f7;
  border-top: 1px solid #a855f7;
}
.dropdown-menu-mobile1.active1 {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: 0.2s ease-in;
}
.dropdown-menu-mobile1.inactive1 {
  opacity: 0;
  visibility: hidden;
  transform: translateY(20px);
  transition: 0.2s ease-out;
}
.form-content {
  display: grid;
  row-gap: 2.5rem;
}
.form-input,
.form-label,
.form-submit {
  border: 0;
  outline: none;
}
.form-box {
  width: 312px;
  height: 59px;
  position: relative;
}
.form-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #a727cc;
}
.form-input {
  border-bottom: 2.5px solid black;
  width: 100%;
  height: 100%;
  z-index: 10;
  padding: 10px;
  transition: transform.3s;
}
.form-input::placeholder {
  transition: opacity 0.5s;
}
.form-label {
  z-index: 100;
  position: absolute;
  top: 16px;
  left: 20px;
  font-size: 10px;
  transition: 0.2s;
  pointer-events: none;
  opacity: 0;
}
.form-button {
  justify-self: flex-start;
  background-color: black;
}
.form-submit {
  padding: 0.875rem 1.5rem;
  background-color: #a727cc;
  cursor: pointer;
  transition: transform 0.3s;
  color: white;
}
.form-submit:hover {
  transform: translate(-6px, -6px);
}
.form-input:focus::placeholder {
  opacity: 0;
  transition: 0.3s;
}
textarea {
  resize: none;
  overflow: hidden;
}
.form-input:focus {
  transform: translate(-8px, -8px);
  padding: 10px 4px 10px;
  animation: input-animation 0.5s;
  border: 2.5px solid black;
}
.form-input:focus + .form-label {
  opacity: 1;
  top: 2px;
  transition: 0.3s;
}
@keyframes input-animation {
  0% {
    transform: translate(0);
  }
  40% {
    transform: translate(-9px, -9px);
  }
  60% {
    transform: translate(-7px, -7px);
  }
}
@media screen and (max-width: 600px) {
  .form-content,
  .form-box {
    width: 100%;
  }
}
